.margin-welcome {
  margin-bottom: 80px;
  margin-right: 30px;
  margin-left: 30px;
  height: 200px;
}

.row-height {
    height: 206px;
}


.backgroud-height {
    height: 206px;
}

.card-header {
    height: 50px;
}

.text-bg-primary {
    height: 206px;
}

.border-end{
    border :1px solid black;
}

.de {
    display: inline-block;
    margin-top: 60px;
    margin-left: 10px;
}

