.bg01 {
    background : url('../image/トップ画像-3.jpg') no-repeat ;
    background-size: cover;
    background-position: center; 
    width: 100vw;
    height: 100vh; 
}

ul.navbar-nav li.nav-item1 a.nav-link {
    color: rgb(106, 106, 243);
}

.nav-item1 a.nav-link:hover {
    color: inherit !important;
}

.border-custom1 {
    border: 1px solid black;
    max-width: 50%;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}




.margin-welcome {
  margin-bottom: 80px;
  margin-right: 30px;
  margin-left: 30px;
  height: 200px;
}

.row-height {
    height: 206px;
}


.backgroud-height {
    height: 206px;
}

.card-header {
    height: 50px;
}

.text-bg-primary {
    height: 206px;
}

.border-end{
    border :1px solid black;
}

.de {
    display: inline-block;
    margin-top: 60px;
    margin-left: 10px;
}

.image-fit {
    object-fit: cover;
}



fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
  .radio-inline__input {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important;
  }
  
  .radio-inline__label {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin-right: 18px;
      border-radius: 3px;
      transition: all .2s;
  }
  
  .radio-inline__input:checked + .radio-inline__label {
      background: #B54A4A;
      color: #fff;
      text-shadow: 0 0 1px rgba(0,0,0,.7);
  }
  
  .radio-inline__input:focus + .radio-inline__label {
      outline-color: #4D90FE;
      outline-offset: -2px;
      outline-style: auto;
      outline-width: 5px;
  }

  #form1{
    position:relative;/*フォームの相対位置*/	
    max-width:1000px;/*フォームのサイズ*/
    margin-bottom:50px;/*フォームの下に余白*/	 	
    }
    /*検索ボックス*/
    #sbox{
    position:absolute;/*フォームの絶対位置*/	
    left:0;
    top:20; 	
    outline:0;/*クリック時の青い枠線消す*/	
    height:50px;/*検索ボックスの高さ*/	
    padding:0 10px;/*テキスト位置調整*/	 
    border-radius:15px 0px 0 15px;/*検索ボックスの角を丸める*/		
    background:#eee;/*検索ボックスの背景カラー*/		
    }
    /*検索ボタン*/
    #sbtn{
    width:70px;/*検索ボタンの横幅*/ 
    height:50px;/*検索ボタンの縦幅*/ 
    position:absolute;/*検索ボタンの絶対位置*/  
    left:434px;/*検索ボタンの位置調整*/  
    top:20;
    border-radius:0 15px 15px 0;/*検索ボタンの角を丸める*/ 
    background:#7fbfff;/*検索ボタンの背景カラー*/ 
    border:none;/*検索ボタンの枠線を消す*/ 
    color:#fff;/*検索ボタンのテキストカラー*/ 
    font-weight:bold;/*検索ボタンのテキスト太字*/ 
    font-size:16px;/*検索ボタンのフォントサイズ*/ 
    }
    /*検索ボタンマウスオーバー時*/
    #sbtn:hover{
    color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
    }
